body{
  color: white;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container{
  max-width: 1502px;
  margin: 0 auto;
}

.body-grid-container{
  display: grid;
  grid-auto-flow: row;
  /* grid-template-columns: minmax(auto, 1502px);
  justify-content: center; */
}

.hero,
.education,
.languages,
.hobbies,
.footer{
  background: #1F2233;
  /* negro más oscuro */
}
.my-skills,
.work-experience,
.courses{
  background: #24283D;
}

.header,
.contact{
  background: linear-gradient(to right, #2BD3FE, #751CDB );
}

.header-container{
  max-width: 1100px;
  height: inherit;
  /* margin: 0;
  display: flex;
  justify-content: center; */
  height: 70px;
}

.header-container ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  height: inherit;
  margin: 0;
}

.header-container nav,
.header-container li{
  height: inherit;
}

.header-container a{
  text-decoration: none;
  color: white;
  height: inherit;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
}

.hero-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "hero-picture hero-description";

}
.hero-image-wrapper{
  grid-area: hero-picture;
  padding: 50px;
  padding-top: 113px;
  padding-bottom: 63.7px;
  align-items: center;
  justify-content: center;
}
.presentation-wrapper{
  grid-area: hero-description;
  padding: 63px;
  padding-left: 0;
}

.hero-background-border{
  height: 373.33px;
  width: 280px;
  border: solid 20px #2BD3FE;
  box-sizing: border-box;
  position: absolute;
}

.hero-image-container{
  margin: 0;
  position: relative;
  height: 373.33px;
  width: 280px;
  margin: 0;
  left: 50px;
  bottom: 50px;
}
.hero-image{
  width: inherit;
  height: inherit;
  vertical-align: top;
}
.presentation-upper{
  display: grid;
  grid-template-columns: minmax(auto, 130px) auto;
  grid-template-rows: auto auto;
  grid-template-areas: "logo title"
                       "logo subtitle";
  align-items: center;
}

.logo-container{
  grid-area: logo;
}

.presentation-title{
  grid-area: title;
  margin: 0;
  padding-left: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 42px;
}
.presentation-subtitle{
  grid-area: subtitle;
  margin: 0;
  padding-left: 30px;
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.logo-container{
  margin: 0;
}

.presentation-description-up{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
}

.presentation-description-up span{
  font-weight: 300;
  font-style: italic;
  font-size: 22px;
}

.presentation-description-down{
  line-height: 32px;
}
.cv-button{
  margin: 0 auto;
  height: 45px;
  width: 130px;
  background-image: linear-gradient(to right, #2BD3FE, #751CDB);
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.my-skills{
  padding: 30px 0 50px 0;
}

.my-skills-container{
  display: grid;
  grid-auto-flow: row;
}

.skills-title-wrapper{
  display: flex;
  align-items: center;
}

.skills-icon{
  margin: 0;
}

.skills-title{
  margin: 0;
  margin-left: 20px;
}

.skills-set{
  display: flex;
  justify-content: space-between;
}

.skill{
  margin: 0 5px;
  position: relative;
}
.skill figure img{
  width: 100%;
  vertical-align: top;
}
#skill-1{
margin-left: 0;
}

.skill p{
  position: absolute;
  font-family: "Fira Sans", sans-serif;
  font-size: 4.5vw;
  bottom: 150px;
  right: 70px;
  margin: 0;
}
.skill h4{
text-align: center;
font-family: "Fira Sans", sans-serif;
font-size: 25px;
margin: 0 auto;
}
.skill figure{
  margin-top: 25px;
  margin-bottom: 25px;
}
#skill-5{
  margin-right: 0px;
}
#skill-5 p{
  margin-right: 0px;
  right: 29px;
}

.education-title-wrapper{
  display: flex;
  align-items: center;
}
.education-title-wrapper h2{
  margin-left: 20px;
}
.education-icon{
  margin: 0;
}

.education-content{
  display: grid;
}

.division{
  width: 99vw;
  height: 3px;
  margin: 0;
  background-color: #2bd3fe;
  position: absolute;
  top: 1476px;
  left: 0;
}

.education-content h4{
  font-size: 25px;
  line-height: 32px;
  color: #2bd3fe;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
}
.upper-education,
.under-education{
  display: flex;
}
.upper-education article,
.under-education article{
  width: 48%;
}
.upper-education article{
  width: 48%;
  margin-left: 16vw;
}
.under-education article{
  width: 48%;
  margin-right: 7vw;
}

.hooks{
  display: flex;
  justify-content: space-around;
}
.hook-down{
  margin-top: 58px;
}
.hook-up{
margin-bottom: 56px;
}
.hooks img{
  position: relative;
}
