@media screen and (max-width: 480px) {

  .burger-button{
    display: initial;
  }
  .menu{
    display: flex;
    justify-content: center;
    position: fixed;
    background: rgb(36,40,61,.7);
    z-index: 4;
    top: 0;
    width: 100vw;
    bottom: 0;
    align-items: center;
    left: -100vw;
    /* left: 0; */
    transition: 0.3s;
  }
  .menu.is-active{
    left: 0;
  }
  .header-line{
    display: initial;
    height: 50px;
    background: linear-gradient(to right, var(--light-blue), #751CDB );
    width: 100vw;
  }

  .header{
    position:fixed;
    z-index: 5;
    background: transparent;
  }
  .header-container{
    height: 100vh;
  }
  .menu ul li{
    font-size: 16px;
  }
  .header{
    display: block;
    height: auto;
  }
  .header ul {
    display: initial;
    height: auto;
  }
  .header ul li{
    height: 35px;
  }
  .header ul li a br{
    display: none;
  }
  .header a{
    justify-content: center;
    font-weight: 700;
    color: var(--white);
    font-size: 18px;
  }

  /* ------------------------------------------------------------hero start */
  .hero-container {
    grid-template-columns: 1fr;
    grid-template-areas: "logo"
      "picture"
      "text";
  }

  .presentation-upper {
    grid-area: logo;
  }

  .hero-image-wrapper {
    grid-area: picture;
    padding-top: 30px;
  }

  .hero-description {
    grid-area: text;
  }
  .hero .presentation-description-down{
    text-align: center;
  }

  /* ------------------------------------------------------------hero end */
  /* ---------------------------------------------------------skills start */
  .my-skills{
    padding: 0;
  }
  .skills-set {
    flex-direction: column;
    align-items: center;
  }

  .skill h4 {
    font-size: 1.3em;
    margin-bottom: 60px;
    margin-top: -78px;
  }

  .skill p {
    font-size: 5em;
    margin-bottom: 15px;
  }
  .skill{
    width: 50%;
  }
  .skill-4 h4{
    margin-bottom: 40px;
  }

  /* ---------------------------------------------------------skills end */
  /* --------------------------------------education start */
  .division-container {
    display: none;
  }

  .division-container-480 {
    display: initial;
  }

  .education-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title title"
      "timeline education";
  }

  .education-title-wrapper {
    grid-area: title;
    margin-bottom: 0;
  }

  .division-wrapper-480 {
    grid-area: timeline;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* top:50px; */
    width: 60px;
    padding-bottom: 38px;
  }

  .education-content {
    grid-area: education;
    display: flex;
    flex-direction: column;
  }

  .division-480 {
    width: 3px;
    height: 100%;
    background-color: var(--light-blue);
    margin-left: 28px;
  }

  .hooks-480 {
    position: absolute;
    top: -24px;
    left: 28px;
    display: flex;
    flex-direction: column;
    bottom: 0;
    justify-content: space-between;
    padding-bottom: 0px;
  }

  /* .hook-up-480{
    margin-bottom: 110px;
  } */
  .hook-480 {
    transform: rotate(90deg);
  }

  .hooks-480 img {
    width: 40px;
  }

  .upper-education,
  .under-education {
    display: initial;
    margin-top: 0;
  }

  .upper-education {
    order: 2;
  }

  .under-education {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .education-content article {
    margin: 15px auto;
    width: 90%;
  }

  .education4 {
    margin-bottom: 0 !important;
  }

  .education2 {
    margin-top: 0px !important;
  }

  .education1 {
    order: 2;
  }

  .education3 {
    order: 1;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .education-content h4 {
    font-size: 18px;
  }

  .education-content small {
    font-size: 70%;
  }

  .education-remarcables {
    font-size: 12px;
  }

  .education-content strong {
    font-size: 16px;
  }

  .education1 h5 {
    margin-bottom: 10px;
  }

  /* --------------------------------------education end */
  /* ---------------------------------------------------------work-experience start */
  .work-experience-container article{
    width: 80%;
    padding: 10px;
    padding-top: 20px;
  }
  .article-date{
    font-size: 25px;
  }
  .article-title{
    font-size: 22px;
  }
  .experience-description{
    font-size: 14px;
  }
  /* ---------------------------------------------------------work-experience end */
  /* ------------------------------------------------------languages start */
  .languages-content{
    padding: 0 8%;
  }
  /* ------------------------------------------------------languages end */
  /* -------------------------------------------------------courses start */
  .courses-certificates h4 {
    font-size: 20px;
  }
  .courses-certificates h3 {
    margin-left: 40px;
  }
  /* -------------------------------------------------------courses end */

/* ------------------------------------------hobbies and interests start */
.hobbies-content img {
    margin: 0 5px;
    width: 10%;
}
/* ------------------------------------------hobbies and interests end */
.contact-container{
  flex-direction: column;
  padding-bottom: 10px;
}
.email-container{
  text-align: center;
}
.email-container h2{
  margin-bottom: 0;
}
.email-container p{
  margin-top: 15px;
  font-size: 20px;
}
.social-container i{
  font-size: 40px;
}
.footer-container{
  flex-direction: column;
}

.button-up-container{
  bottom: 90px;
  right: 25px;
}
}
