@media screen and (max-width: 1023px){

  .skill p{
    font-size: 4.2em;
  }

  .presentation-wrapper{
    padding-left: 63px;
  }

  }


@media screen and (max-width: 767px){

  .skill p {
    font-size: 3.7em;
  }

}




/* -----------------------------------continue here adding burguer button */



@media screen and (max-width: 480px){

}
@media screen and (max-width: 320px){

}
