*{
  box-sizing: border-box;
}

/* Variables */
:root{
  /* colors */
  --light-blue: #2BD3FE;
  --purple: #751CDB;
  --dark-black: #1F2233;
  --light-black: #24283D;
  --white: white;
  /* fonts */
  --fira: "Fira Sans", sans-serif;
}

/* Variables */

/* Icons */

@font-face {
  font-family: 'icomoon';
  src:  url('../images/icons/fonts/icomoon.eot?bdtt4d');
  src:  url('../images/icons/fonts/icomoon.eot?bdtt4d#iefix') format('embedded-opentype'),
    url('../images/icons/fonts/icomoon.ttf?bdtt4d') format('truetype'),
    url('../images/icons/fonts/icomoon.woff?bdtt4d') format('woff'),
    url('../images/icons/fonts/icomoon.svg?bdtt4d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}

.burger-button{
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,.8);
  border-radius: 50%;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 5;
  left: 5px;
  top: 5px;
  color: white;
}


/* Icons */
html{
  max-width: 100%;
  overflow-x: hidden;
}

body{
  color: white;
  /* font-family: 'Fira Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.container{
  max-width: 1502px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.body-grid-container{
  display: grid;
  grid-auto-flow: row;
  /* grid-template-columns: minmax(auto, 1502px);
  justify-content: center; */
}

.hero,
.education,
.languages,
.hobbies,
.footer{
  background: var(--dark-black);
  /* negro más oscuro */
}
.my-skills,
.work-experience,
.courses{
  background: var(--light-black);
}


.header,
.contact{
  background: linear-gradient(to right, var(--light-blue), #751CDB );
}

h2{
  font-size: 30px;
}

/* -----------------------------------------------------------------menu */

.header-container{
  max-width: 1100px;
  height: inherit;
  /* margin: 0;
  display: flex;
  justify-content: center; */
  height: 70px;
}

.header-container ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  height: inherit;
  margin: 0;
}

.header-container nav,
.header-container li{
  height: inherit;
}

.header-container a{
  text-decoration: none;
  color: var(--white);
  height: inherit;
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
}
.header-container a:hover{
  color: var(--light-black);

}

/* ---------------------------------------------------------------hero */

.hero-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "hero-picture hero-logo"
                       "hero-picture hero-description";

}
.hero-image-wrapper{
  grid-area: hero-picture;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-image-container{
  margin: 0;
  position: relative;
  width: 280px;
  margin: auto;

}
.hero-image-container::before{
  position: absolute;
  content: "";
  right: 50px;
  top: 50px;
  border: 20px solid var(--light-blue);
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
}
.hero-image{
  width: 100%;
  vertical-align: top;
}
.presentation-upper{
  grid-area: hero-logo;
  display: grid;
  grid-template-columns: minmax(auto, 130px) auto;
  grid-template-rows: auto auto;
  grid-template-areas: "logo title"
                       "logo subtitle";
  align-items: center;
}
.hero-description{
  grid-area: hero-description;
}

.logo-container{
  grid-area: logo;
}

.presentation-title{
  grid-area: title;
  margin: 0;
  padding-left: 30px;
  font-family: var(--fira);
  font-size: 42px;
}
.presentation-subtitle{
  grid-area: subtitle;
  margin: 0;
  padding-left: 30px;
  font-family: var(--fira);
  font-size: 32px;
  font-weight: 300;
}

.logo-container{
  margin: 0;
}

.presentation-description-up{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
}

.presentation-description-up span{
  font-weight: 300;
  font-style: italic;
  font-size: 22px;
}

.presentation-description-down{
  line-height: 32px;
}
.cv-button{
  margin: 0 auto;
  height: 45px;
  width: 130px;
  background-image: linear-gradient(to right, var(--light-blue), var(--purple));
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
/* ---------------------------------------------------------hero-end */
/* ----------------------------------------------------------skills */

.my-skills{
  padding: 30px 0 50px 0;
}

.my-skills-container{
  display: grid;
  grid-auto-flow: row;
}

.skills-title-wrapper{
  display: flex;
  align-items: center;
}

.skills-icon{
  margin: 0;
}

.skills-title{
  margin-left: 20px;
}

.skills-set{
  display: flex;
  justify-content: space-between;
}

.skill{
  margin: 0 5px;
  position: relative;
}
.skill figure img{
  width: 100%;
  vertical-align: top;
}
/* #skill-1{
margin-left: 0;
} */

.skill p{
  position: absolute;
  font-family: var(--fira);
  font-size: 5.5em;
  bottom: 25%;
  right: 10%;
  margin: 0;
}
.skill h4{
text-align: center;
font-family: var(--fira);
font-size: 25px;
margin: 0 auto;
}
.skill figure{
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}
/* #skill-5{
  margin-right: 0px;
} */
/* #skill-5 p{
  margin-right: 0px;
  right: 29px;
} */

/* -------------------------------------------------education */

.education{
  position: relative;
  padding: 30px 0;
  padding-bottom: 60px;
}

.education-title-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.education-title-wrapper h2{
  margin-left: 20px;
}
.education-icon{
  margin: 0;
}

.education-content{
  display: grid;
}

/*------------------------------------------------------------------ timeline */

.division-container-480{
  display: none;
}
.hooks-480{
  display: none;
}

.division-container{
  position: absolute;
  top: 396px;
  width: 100%;
  /* background: red; */
  left: 0;
  right: 0;
}
.division-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.division{
  width: 100%;
  height: 3px;
  background-color: var(--light-blue);
}

.hooks{
  position: absolute;
  top: -5.15em;
  display: flex;
  min-width: 80%;
  justify-content: space-between;
}
.hooks img{
  /* padding: 0 7em; */
}
.hook-up{
  margin-bottom: 110px;
}
.hook-down{
  transform: rotate(180deg);
}

/*---------------------------------------------------------- education-content */

.education-content h4{
  font-size: 22px;
  line-height: 25px;
  color: var(--light-blue);
  text-transform: uppercase;
  font-family: var(--fira);
  margin-bottom: 0px;
  margin-top: 0;
}
.upper-education,
.under-education{
  display: flex;
}
.under-education{
  margin-top: 9.7em;
}

.education-content article{
  width: 30%;
  border: 3px solid var(--light-blue);
  padding: 10px;
}
.upper-education article{
  /* width: 55%; */
  margin-left: 14.4vw;
}
.under-education article{
  /* width: 33%; */
  margin-right: 7vw;
}

.education-specification{
  font-family: var(--fira);
  font-size: 18px;
  margin: 0;
}
.education-content h5{
  font-size: 16px;
  color: var(--purple);
  margin: 10px 0;
}
.education1 h5{
  margin-top: 20px;
  margin-bottom: 41px;
}
.education-remarcables{
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}
.education-content strong{
  font-size: 17px;
}

/* --------------------------------------------button-up */

.button-up-container{
  position: fixed;
  right: 150px;
  bottom: 30px;
  z-index: 1;
}
.button-up-container .a{
  fill: #fff
}
.button-up-container .b{
  fill: #1f2233
}
.button-up-container .c{
  fill:none;
  stroke:#fff;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:3px;
}
.button-up-container svg:hover .a{
  fill: #1f2233;
}
.button-up-container svg:hover .b{
  fill: #fff;
}
.button-up-container svg:hover .c{
  stroke: #1f2233;
}



/* --------------------------------------------Experience */


.work-experience{
  padding: 20px 0;
}
.work-experience-title-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.work-experience-icon{
  margin: 0;
}
.work-experience-title-wrapper h2{
  margin-left: 20px;
}
.work-experience-container{
  display: grid;
  /* justify-content: center; */
}
.work-experience-container article{
  background: transparent;
  border: 10px solid transparent;
  border-image: linear-gradient(0deg, var(--light-blue) 50%, var(--purple));
  border-image-slice:1;
  margin-bottom: 70px;
  padding: 32px 40px;
  width: 66%;
  position: relative;
  justify-self: center;
}
.article-date{
  background-color: var(--light-black);
  margin: 0;
  font-family: var(--fira);
  font-size: 30px;
  position: absolute;
  top: -23px;
  left: 70px;
  padding: 0 20px;
}

.article-title{
  font-family: var(--fira);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.experience-description{
  font-size: 18px;
}
.experience-relevant{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

/* ----------------------------------------Languages */
.languages{
  padding: 30px 0;
  padding-bottom: 50px;
}
.languages-container{
  display: grid;
}
.languages-title-wrapper{
  display: flex;
  align-items: center;
}
.languages-icon{
  margin: 0;
}
.languages-title{
  margin-left: 20px;
}
.languages-content{
  padding: 0 20%;
}
.lang-item-border{
 border: 3px solid #323754;
 padding: 3px;
}
.lang-item a{
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
}
.lang-bar{
  background: linear-gradient(to right, var(--light-blue), var(--purple));
  height: 34px;
  text-align: center;
}
.spanish-bar{
  width: 100%;
}
.english-bar{
  width: 95%;
}
.english-bar a{
  margin-left: 5%;
}
.german-bar{
  width: 90%;
}
.german-bar a{
  margin-left: 11%;
}
.lang-item h5{
  font-family: var(--fira);
  font-size: 20px;
  margin-bottom: 5px;
}

/* -----------------------------------------------courses */
.courses{
  padding: 30px 0;
  padding-bottom: 50px;
}
.courses-title-wrapper{
  display: flex;
  align-items: center;
}
.courses-icon{
  margin: 0;
}
.courses-title{
  margin-left: 20px;
}
.webdevelopment-courses,
.design-courses,
.other-courses{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 15px;
  justify-content: center;
}
.courses-certificates h3{
  margin-left: 140px;
  margin-top: 40px;
  font-size: 22px;
}
#web-dev-title{
  margin-top: 0;
}
.courses-certificates h4{
  font-family: var(--fira);
  font-size: 25px;
  text-transform: capitalize;
  margin: 8px 0;
}
.courses-certificates a{
  text-decoration: none;
  color: var(--white);
  margin: 0 auto;
  text-transform: capitalize;
  background-image: linear-gradient(to right, var(--light-blue), var(--purple));
  border-radius: 35px;
  padding: 5px;
  font-size: 16px;
}
.courses-certificates article{
  display: flex;
  flex-direction: column;
  border: 2px solid var(--light-blue);
  padding: 10px 3px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.courses-certificates article:hover{
  background-color: #373c58;
}
.item12 h4{
  font-size: 16px;
  margin: 11px 0;
}
.item10 h4{
  font-size: 23px;
}
.item7 h4{
  font-size: 24px;
}

/* --------------------------------------hobbies */
.hobbies{
  padding: 30px;
  padding-bottom: 50px;
}
.hobbies-container{
  display: grid;
}
.hobbies-title-wrapper{
  display: flex;
  align-items: center;
}
.hobbies-icon{
  margin: 0;
}
.hobbies-title{
  margin-left: 20px;
}
.hobbies-content{
  align-self: center;
  justify-self: center;
  min-width: 70%;
  display: flex;
  justify-content: space-between;
}
/* .hobbies-content img{
  margin: 0 2.5em;
} */

/* -------------------------------------contact start*/
.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-title{
  text-transform: uppercase;
  font-family: var(--fira);
  font-size: 30px;
}
.email{
  font-size: 30px;
}
.social-container a{
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

.social-container i{
  font-size: 50px;
}
.social-container i:hover{
  font-size: 60px;
  transition: 0.3s;
}
.email-container a{
  color: var(--white);
  text-decoration: underline;
}
.email-container a:hover{
  text-decoration: none;
}

/* ------------------------------------------footer start */
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container p{
  font-size: 16px;
  margin: 5px 0;
}
